html {
    font-size: 14px;
}
.beijing {
    background:url(../img/beijing.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.w {
    margin: 0 auto;
    max-width: 1300px;
}